
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400&display=swap');

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #74546C;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #F5F5EE;
}

header {
  width: 100%;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1560066984-138dadb4c035?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
  background-position: center;
  background-size: cover;
}

.hero-section {
  width: inherit;
  min-height: inherit;
  display: grid;
  grid-template-rows: auto auto 1fr;
  background-color: rgba(51, 80, 69, 0.4);
}

.navbar {
  position: relative;
  background-color: #fff;
}

.navbar-collapse {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0 11px;
  background-color: white;
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.nav-item .dropdown-menu {
  border: none;
  border-left: 2px solid #007296;
  border-radius: 0;
  padding: 10px 3px;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  margin-top: 0.125em;
}

.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
  display: block;
  margin-top: 0.125em;
  margin-left: 0.125em;
}

button[aria-expanded="true"] > span.close {
  display: inline;
  opacity: 1;
}

button[aria-expanded="true"] > span.navbar-toggler-icon {
  display: none;
}

button[aria-expanded="false"] > span.close {
  display: none;
}

nav.fixed-top {
  top: 92px;
}

.info-in-mobile {
  background-color: #007296;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.info-in-mobile .phone-email {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-in-mobile .phone-email a {
  color: black;
  text-decoration: none;
}

.info-in-mobile .social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.info-in-mobile .social-icons a i {
  color: black;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  grid-row: 3;
}

.center div h1 {
  font-size: 38px;
  letter-spacing: 4px;
  font-family: "Syne", sans-serif;
  font-weight: 800;
  color: white;
}

.buttons {
  display: flex;
  gap: 15px;
}

.buttons button {
  border: none;
  padding: 8px 20px;
  border-radius: 10px;
}

.buttons button a {
  text-decoration: none;
  color: #74546C;
}

/* main */
main {
  display: grid;
  grid-gap: 50px;
  width: 90%;
  margin: auto;
}

/* services */

.services h1,
h3,
p {
  text-align: center;
  color: #676966;
}

.services h3 {
  margin: 10px 0;
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  color: #676966;
}

.services h1 {
  margin: 50px;
  position: relative;
  font-family: "Archivo", sans-serif;
  color: #676966;
  font-weight: 800;
  letter-spacing: 2px;
}

.services h1::after {
  content: "";
  width: 80px;
  position: absolute;
  height: 4px;
  bottom: -5px;
  background-color: #E8E8DC;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.services .services-inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.services .services-inner .service {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services .services-inner .service img {
  max-width: 350px;
}

.services .services-inner .service button {
  border: none;
  border-radius: 5px;
  padding: 8px 24px;
  margin-top: -20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
}

.services .services-inner .service button i {
  font-size: 10px;
}
.services .services-inner .service button a {
  text-decoration: none;
  color: #007296;
}

/* why us */

.why-choose-us {
  text-align: center;
  margin-top: 50px;
}
.why-choose-us h1 {
  margin-bottom: 50px;
  position: relative;
  font-family: "Archivo", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}

.why-choose-us h1::after {
  content: "";
  height: 4px;
  width: 80px;
  background-color: #007296;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.why-choose-us .why-us-inner {
  display: grid;
  grid-gap: 20px;
}
.why-choose-us .why-us-inner .top-text {
  font-size: 15px;
}

.why-choose-us .why-us-inner .bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "one two"
    "one three"
    "four six"
    "five six";
  gap: 10px;
}

.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}

.why-choose-us .why-us-inner .bottom img {
  width: 100%;
  height: 100%;
}

/* testimonials */

.testimonials {
  margin-top: 50px;
}
.testimonials h1 {
  text-align: center;
  position: relative;
  font-family: "Archivo", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}

.testimonials h1:after {
    content: "";
    height: 4px;
    width: 80px;
    background-color: #007296;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.testimonials-inner {
  position: relative;
  padding-bottom: 10px;
  text-align: center;
}

.block {
  background-color: #edeff1;
  padding: 15px;
  margin: 50px 15px;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.15);
}

.block .top .user {
  margin-bottom: 30px;
  text-align: center;
}

.carousel-item {
  display: flex;
}

.image {
  position: relative;
}

.image img {
  width: 100px;
  height: 100px;
  border: 7px solid #007296;
  border-radius: 170px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.user-name {
  font-weight: bold;
  position: relative;
}

.user-name:after {
  content: "";
  height: 4px;
  width: 50px;
  position: absolute;
  bottom: -5px;
  left: calc(50% - 25px);
  background-color: #007296;
}

.content {
  width: 90%;
  margin: auto;
}

/* about me */
.about-me {
  margin: 50px 0;
  text-align: center;
}

.about-me h1 {
  position: relative;
  font-family: "Archivo", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}

.about-me h1:after {
  content: "";
    height: 4px;
    width: 80px;
    background-color: #007296;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.about-me .about-me-inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.about-me .about-me-inner .text-section .text-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.about-me .about-me-inner .image-section img {
  width: 100%;
}

footer {
  background-color: #007296;
}

footer p {
  margin: 0;
}

footer .footer-inner {
  width: 90%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  color: #fff;
}

footer .footer-inner .contact-info {
  font-size: 14px;
}

footer .footer-inner .contact-info .phone a,
.email a {
  text-decoration: none;
  color: #fff;
}

footer .footer-inner .social-media {
  display: flex;
  gap: 10px;
}

footer .credit {
  text-align: center;
  color: #979591;
}

footer .footer-inner .social-media a {
  color: grey;
}

@media screen and (min-width: 769px) {
  .info-in-mobile {
    display: none;
  }

  nav.fixed-top{
    position: relative;
    top: 0;
  }

  .dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }

  .navbar-collapse {
    position: relative;
    justify-content: flex-end;
  }

  .navbar-nav {
    gap: 10px;
  }

  .hero-section {
    grid-template-rows: auto 1fr;
  }

  .center {
    width: 90%;
    margin: auto;
    grid-row: 2;
  }

  .center div {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .services .services-inner {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  .why-choose-us .why-us-inner .bottom {
    grid-gap: 40px;
  }

  .about-me h1 {
    margin-bottom: 50px;
  }

  .about-me .about-me-inner {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
  }

  .about-me .about-me-inner .image-section {
    margin: 40px 20px;
    grid-column: 1/3;
    grid-row: 1;
    z-index: 10;
    position: relative;
    z-index: 10;
  }


  .about-me .about-me-inner .image-section:before {
     position: absolute;
     content: "";
     top: -20px;
     left: -40px;
     width: 90%;
     height: 100%;
     border: 5px solid#EDE1D1;
     z-index: -1;
     
  }
  .about-me .about-me-inner .image-section:after {
     position: absolute;
     content: "";
     top: 60px;
     left: 60px;
     width: 100%;
     height: 100%;
    background-color: #D4D3CF;
     z-index: -5;
     
  }


  .about-me .about-me-inner .text-section {
    padding: 10px;
    grid-row: 1;
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
  }

  .about-me .about-me-inner .text-section .text-inner {
    grid-column: 2/-1;
    grid-row: 1;
  }

  footer .footer-inner {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1000px) {
  .why-choose-us .why-us-inner .bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "one two four six"
      "one three five six";
    gap: 10px;
  }

  .center div h1 {
    font-size: 60px;
  }
}

@media (min-width: 1400px) {
  .center div h1 {
    font-size: 70px;
  }
}
