@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700;800&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1560066984-138dadb4c035?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
  background-position: center;
  background-size: cover;
}

.hero-section {
  width: inherit;
  height: inherit;
  display: grid;
  grid-template-rows: auto auto 1fr;
  background-color: rgba(0, 77, 115, 0.4);
}

.navbar {
  position: relative;
  background-color: #fff;
}

.navbar-collapse {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0 11px;
  background-color: white;
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.nav-item .dropdown-menu {
  border: none;
  border-left: 2px solid salmon;
  border-radius: 0;
  padding: 10px 3px;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  margin-top: 0.125em;
}

.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
  display: block;
  margin-top: 0.125em;
  margin-left: 0.125em;
}

button[aria-expanded="true"] > span.close {
  display: inline;
  opacity: 1;
}

button[aria-expanded="true"] > span.navbar-toggler-icon {
  display: none;
}

button[aria-expanded="false"] > span.close {
  display: none;
}

.info-in-mobile {
  background-color: coral;
  padding: 10px 0;
}

.info-in-mobile .phone-email {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-in-mobile .phone-email a {
  color: black;
  text-decoration: none;
}

.info-in-mobile .social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.info-in-mobile .social-icons a i {
  color: black;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.center div h1 {
  font-size: 38px;
  letter-spacing: 4px;
  font-family: "Syne", sans-serif;
  font-weight: 800;
  color: white;
}

.buttons {
  display: flex;
  gap: 15px;
}

.buttons button {
  border: none;
  padding: 8px 20px;
  border-radius: 10px;
}

/* main */
main {
  margin-top: 50px;
}

.services h1,
h3,
p {
  text-align: center;
}

.services h3 {
  margin: 10px 0;
}

.services h1 {
  margin: 50px;
}

.services .services-inner {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.services .services-inner .service {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services .services-inner .service img {
  max-width: 350px;
}

.services .services-inner .service button {
  border: none;
  border-radius: 5px;
  padding: 8px 24px;
  margin-top: -20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
}

.services .services-inner .service button i {
  font-size: 10px;
}

@media screen and (min-width: 769px) {
  .info-in-mobile {
    display: none;
  }
  .dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }
}
